[global_config]
[keybindings]
[profiles]
  [[default]]
    background_darkness = 1.05
    background_image = None
  [[hellmoo]]
    background_darkness = 1.05
    background_image = None
    show_titlebar = False
[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
  [[hellmoo]]
    [[[child0]]]
      title = HellMoo
      position = -1:35
      type = Window
      order = 0
      parent = ""
    [[[child1]]]
      type = VPaned
      order = 0
      parent = child0
    [[[terminal0]]]
      profile = hellmoo
      command = echo -ne '\033[?25l'; tail -f ~/hellmoo/corp_chat.log
      type = Terminal
      order = 1
      parent = child1
    [[[terminal1]]]
      profile = hellmoo
      command = tt++ ~/hellmoo/hellmoo.tin
      type = Terminal
      order = 0
      parent = child1
[plugins]
